* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 88px;
}

.contener {
    width: 1292px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 0 auto;
}

nav>a {
    font-family: 'Raleway';
    color: #33303E;
    font-size: 18px;
    text-decoration: none;
}

nav {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.cor_da_letra {
    color: #FF6E22;
}

.section_1 {
    width: 100%;
}

.posicionamento_section_1 {
    display: flex;
}

h1 {
    position: absolute;
    left: -300px;
    overflow: hidden;
}



h2 {
    font-family: 'Raleway';
    color: #33303E;
    font-weight: 700;
    font-size: 46px;

}

.texto_1 p {
    font-family: 'Raleway';
    color: #4E4B59;
    font-size: 16px;
    display: flex;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
}



.posicionamento_section_1 {
    display: flex;
    align-items: center;



}

section>div>img {
    width: 450px;
    height: 350px;

}

.button_section_1 a {
    width: 244px;
    height: 62px;
    background-color: #FF9922;
}