
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 88px;
}
.contener{
    width: 1292px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 0 auto;
}

nav>a{
    font-family: 'Raleway';
    color: #33303E;
    font-size: 18px;
    text-decoration: none;
}
nav{
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.cor_da_letra{
    color:#FF6E22 ;
}